body {
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: auto;
color: black;
background-image: "bg.jpg";
font-size: 200%;
}

form {
display: flex;
width: 80%;
position: absolute;
transform: translate(-50%,-50%);
align-items: center;
flex-wrap: wrap;
margin: 10px;
border: none;
padding: 20px;
border-radius: 10px;
background-color: #e6e6e6;    
} 

input{
flex-basis: 300px;
}
input:focus {
    outline: 5px solid #3759e2;
}

::placeholder {
font-size: 200%;
}

button {  
position: relative;
background-color: blue;
flex-basis: 100px;
margin: 10px;
border-radius: 10px;
padding: 20px;
background-color: #3759e2;
color: #fff;
box-shadow: 0 0 8px rgba(226), 209, 12, 0.35);
}