.contenedor {

    display: flex;

}

.imagen {
    width: 450px;
    height: 350px;
}


.lunes {
  background-color:yellow ;
}

table, th, td {
    border:1px solid black;
    text-align: center; 
  }



  .lunes {
    background-color:yellow ;
  }
    
  .martes {
    background-color:red ;
  }

  .miercoles {
    background-color:white ;
  }

  .jueves {
    background-color:green ;
  }

  .viernes {
    background-color:orange ;
  }

  .titulof {
    color:rgb(36, 156, 12);
    border-bottom: 6px solid rgb(15, 12, 165);
    height: 40px;
    width: 450px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
  }

  .titulod {
    color:rgb(207, 18, 18);
    border-bottom: 6px solid rgb(10, 179, 164);
    height: 40px;
    width: 450px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

    
.ISO {
  color:rgb(38, 38, 43);
  border-bottom: 6px solid rgb(119, 7, 122);
  height: 40px;
  width: 600px;
  text-align: center;
  font-family:'Courier New', Courier, monospace
}

.FunH {
    color:rgb(38, 38, 43);
    border-bottom: 6px solid rgb(0, 0, 0);
    height: 40px;
    width: 600px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

.BD {
    color:rgb(38, 38, 43);
    border-bottom: 6px solid rgb(3, 116, 50);
    height: 40px;
    width: 600px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

.FOL {
    color:rgb(38, 38, 43);
    border-bottom: 6px solid rgb(218, 53, 12);
    height: 40px;
    width: 600px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

.RAL {
    color:rgb(38, 38, 43);
    border-bottom: 6px solid rgb(7, 130, 161);
    height: 40px;
    width: 600px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}